@charset "UTF-8";
                @media (min-width:1250px){
                  * {margin:0; padding:0; box-sizing: border-box;}
                  ul, li, ol {padding:0; margin: 0; list-style: none;}
                  body {background-color: #f3f4f4;}
                
                  #top > p {font-size: 12px; letter-spacing: 1px; color: #d71d30; font-weight:600;  cursor: pointer; }
                  #top > p:hover {text-decoration: underline;}
                
                  /*헤더*/
                  header .small {width: 98%; height: 75px; margin:0 auto; background-color: #fff; border-radius: 40px; display: flex; align-items: center; justify-content: space-between;}
                  header > .small > #logo > .b {display: none;}
                  #logo > a > img {width: 100px; height: 50px; display: block; }
                 header > .small > #logo {display: flex; align-items: center; }
                 header > .small > #logo > .a {display: block;}
                 header > .small > #logo > .a > ul > #sub { color:#d71d30;  font-family: 'Convergence', sans-serif; font-weight: bold; letter-spacing: 1; margin:0 19px; cursor: pointer; }
                 header > .small > #logo > .a > ul { display: flex; }
                 header > .small > #logo > .a > ul >li >a {text-decoration: none; color:#000;  font-family: 'Convergence', sans-serif; font-weight: bold; letter-spacing: 1; margin:0 19px;}
                 .a > ul >li > a:hover {border-bottom: 2px solid #5e0606; }
                 header > .b {display: none;}
                 
                 
                  header > .small > #iconbox {margin:0 10px; width:440px; padding: 0 10px;} 
                  header > .small > #iconbox > #language {font-size: 14px; margin:0 30px 0 0px; cursor: pointer; display: block; font-family: 'Convergence', sans-serif; border: none;}
               
                  header > .small > #iconbox >#icon {display: flex; align-items: center;}

                  #icon > .personicon {font-size:40px; color: #d71d30; display:block; cursor: pointer; margin:0 10px 0 0;}
                  #icon > .personicon:hover{color: #86242e; transition: 0.2s;}
                  #icon > .bagicon {background-color: #d71d30; border-radius: 50%; width:41px; height:41px; cursor: pointer;}
                  #icon > .bagicon:hover{background-color: #86242e; transition: 0.2s;}
                  #icon > .bagicon {font-size: 22px; color: #ffffff;  cursor: pointer; padding:10px 0 0 0;}
                  #icon > .listicon {display: none;}
                  #icon > button {padding:12px 40px; background-color: #d71d30; color:#fff; font-size:14px; border:none; border-radius: 30px; font-weight: 700; letter-spacing: 1px; display: block; margin: 0 10px; cursor: pointer;}
                  #icon > button:hover{background-color: #86242e; transition: 0.2s;}
                
                     /*헤드 슬라이더*/
                     #slider {width: 99%; height: 350px;  margin:10px auto;  border-radius: 90px; padding: 20px;  background-image:url("../img/img_sub_back.svg"); background-color: #e25923;}
                
                     #slider > h2 {text-align: center; font-size: 58px; color: #ffffff; letter-spacing: 6px; padding: 50px 0 0 0px; font-family: 'Bevan', cursive; text-shadow: 7px 5px 6px #5e0606;}
                
                     #slider > p { width:90%; margin: 20px auto; text-align: center; font-size: 19px; color: #fff; font-weight: bold; line-height: 1.5; left: 0; }
                
                /*섹션1*/
    #section1 {width:100%; height: auto; display: flex; flex-direction: row;}

    #section1 > #main {width:850px; height: 100%; background-color:#ececec9d; display: flex; flex-direction: column; }

    /*story*/
    #section1 > #main > #story {width:95%; height: auto; margin:10px; padding:20px; display: flex; flex-direction: column; align-items: center;}
    #section1 > #main > #story > h1 {font-size: 36px; font-family: 'Tilt Warp', cursive; background-image: linear-gradient(#ffb834, #ff501b); color: transparent; background-clip: text; -webkit-background-clip: text; margin: 0 170px 0 -200px;}
    #section1 > #main > #story > h2 {font-size: 20px; font-family: 'Convergence', sans-serif; color: #000; margin: 10px 250px 10px -210px;}
    #section1 > #main > #story > #photobox {width:95%; height: auto; overflow: hidden; border-radius: 25px; margin:8px 0 20px 0;}
    #section1 > #main > #story > #photobox > img {width:100%; height: 100%;   transform: scale(1); transition: 0.5s; cursor: pointer;}
    #section1 > #main > #story > #photobox > img:hover{transform: scale(1.05); transition: 0.5s;}
    #section1 > #main > #story > button {padding:15px 30px; border-radius: 40px; background-color: #fff; border:3px solid #ff501b; color:#ff501b; font-size: 15px; letter-spacing: 1px; font-family: 'Convergence', sans-serif; cursor: pointer;}
    #section1 > #main > #story > button:hover {background-color: #ff501b; border:3px solid #ff501b; color:#fff; transition: 0.3s; }

    /*people*/
    #peoplewrap > .people {width:100%; height: auto;  padding:10px; margin:0 0 80px 0;}

    #peoplewrap > h1 {font-size: 36px; font-family: 'Tilt Warp', cursive; background-image: linear-gradient(#ffb834, #ff501b); color: transparent; background-clip: text; -webkit-background-clip: text; text-align: start; width:100%; margin:70px 0 10px 30px; }
    #peoplewrap > .people > h2 {font-size: 20px; font-family: 'Convergence', sans-serif; color:#000; letter-spacing: 0.5px; font-weight: bold;  width:100%;  text-align: left; margin:0 0 10px 20px; }
    #peoplewrap > .people > p {font-size: 15px; font-family: 'Convergence', sans-serif; color: #3a3a3a; width:80%; line-height: 1.2; text-align: start;  text-align: left; margin:0 10px 0 20px;}
    
    #peoplewrap > .people > #people_box {width:100%; height:auto; display: flex; flex-direction: row; margin:35px 0 0 0; }
    #peoplewrap > .people > #people_box > img  {width:350px; height: auto;  border-radius: 50px; position: absolute; z-index: 5; margin:0 0 0 10px;}
    #peoplewrap > .people > #people_box > .people2 {width:350px; height: auto;  border-radius: 50px; position: absolute; z-index: 5; }
    
    #peoplewrap > .people > #people_box > #textbox {background-color: #fff; border-radius: 30px; padding:35px 40px 35px 70px; height: auto; width:450px; position: relative;  left: 330px; top:20px;}
    #peoplewrap > .people > #people_box > #textbox > h1 {font-size: 18px; font-family: 'Convergence', sans-serif; color: #c02d00; font-weight: bold; margin:0 0 18px 0;}
    #peoplewrap > .people > #people_box > #textbox > h2 {font-size: 16px; font-family: 'Convergence', sans-serif; margin:0 0 20px 0; }
    #peoplewrap > .people > #people_box > #textbox > p {font-size: 15px; font-family: 'Convergence', sans-serif; color: #3a3a3a; margin:0 0 20px 0; line-height: 1.5;}
    #peoplewrap > .people > #people_box > #textbox > h3 {font-size: 16px; font-family: 'Convergence', sans-serif;  font-weight: bold; color: #ff5826; display: inline; margin:20px 0; cursor: pointer;}
    #peoplewrap > .people > #people_box > #textbox > h3:hover { color: #c02d00; transition: 0.3s;}
   
    #peoplewrap > .people > #like {width:100%; padding:10px; cursor: pointer; margin:25px 0 0 270px;}
    #peoplewrap > .people > #like > .comment {font-size: 15px; font-weight: bold; color:#838383;}
    #peoplewrap > .people > #like > .comment:hover {color:#ff5826; transition: 0.2s;}
    #peoplewrap > .people > #like > .heart {font-size: 15px; margin:0 8px; color:#838383;}
    #peoplewrap > .people > #like > .heart:hover {color:#d71d30; transition: 0.2s;}

     
    
    /*video*/
    #section1 > #main > #video {width:95%; height:auto; margin:10px; padding: 20px; display: flex; flex-direction: column; align-items: center; margin:20px 0;}
    #video > h1 {font-size: 36px; font-family: 'Tilt Warp', cursive; background-image: linear-gradient(#ffb834, #ff501b); color: transparent; background-clip: text; -webkit-background-clip: text;}
    #video > .youtube {margin:30px 0; width:700px; height:400px;}
    #video > button {padding:15px 30px; border-radius: 40px; background-color: #fff; border:3px solid #ff501b; color:#ff501b; font-size: 13px; letter-spacing: 1px; font-family: 'Convergence', sans-serif; cursor: pointer;}
    #video > button:hover {background-color: #ff501b; border:3px solid #ff501b; color:#fff; transition: 0.3s;}

    /*post*/
    #section1 > #main > #post {width:95%; height: auto; margin:10px; padding:20px;}
    #post > h1 {font-size: 36px; font-family: 'Tilt Warp', cursive; background-image: linear-gradient(#ffb834, #ff501b); color: transparent; background-clip: text; -webkit-background-clip: text; text-align: left;}
    #post > h2 {font-size: 15px; font-family: 'Convergence', sans-serif; color: #3a3a3a; margin:20px 0; line-height: 1.5; font-weight: bold; text-align: left;}

    #post > #postbox {width:100%; height: auto; display: flex; flex-wrap: wrap; align-items: center; justify-content: center; margin: 50px 0;}

    #post > #postbox > #rightbox { display: flex; flex-direction: column; margin: 0 0 0 10px;}
    #post > #postbox > #rightbox > .box {width:350px; height: auto;  margin:0 0 50px 0;}
    #post > #postbox > #rightbox > .box > .photobox {width:100%; height: auto;  overflow: hidden; border-top-left-radius: 40px;  border-bottom-right-radius: 40px; cursor: default;}
    #post > #postbox > #rightbox > .box > .photobox > img {width:100%; height: 100%; transform: scale(1); transition: 0.4s;}
    #post > #postbox > #rightbox > .box > .photobox > img:hover {transform: scale(1.1); transition: 0.4s;}
    #postbox > #rightbox > .box > h3 {font-size: 18px; color: #000; margin:5px; font-family: 'Convergence', sans-serif; font-weight: bold; margin:10px;}
    #postbox > #rightbox > .box > p {font-size: 14px; color: #000; margin:5px; font-family: 'Convergence', sans-serif; line-height: 1.5; margin:10px; }
    #postbox > #rightbox > .box > h4 {font-size: 16px; font-family: 'Convergence', sans-serif;  font-weight: bold; color: #ff5826; display: inline; cursor: pointer; margin:30px 10px;}
    #postbox > #rightbox > .box > h4:hover { color: #c02d00; transition: 0.3s;}

    #post > #postbox > #leftbox {display: flex; flex-direction: column; margin: 0 10px 0 0;}
    #post > #postbox > #leftbox > .longbox {width:350px; height: auto; margin:50px 0 0 0;}
    #post > #postbox > #leftbox > .longbox > .photobox {width:100%; height: auto; overflow: hidden; border-top-left-radius: 40px;  border-bottom-right-radius: 40px; cursor: default;}
    #post > #postbox > #leftbox > .longbox > .photobox > img {width:100%; height: 100%; transform: scale(1); transition: 0.4s;}
    #post > #postbox > #leftbox > .longbox > .photobox > img:hover {transform: scale(1.1); transition: 0.4s;}
    #postbox > #leftbox > .longbox > h3 {font-size: 18px; color: #000; margin:5px; font-family: 'Convergence', sans-serif; font-weight: bold; margin:10px;}
    #postbox > #leftbox > .longbox > p {font-size: 14px; color: #000; margin:5px; font-family: 'Convergence', sans-serif; line-height: 1.5; margin:10px; }
    #postbox > #leftbox > .longbox > h4 {font-size: 16px; font-family: 'Convergence', sans-serif;  font-weight: bold; color: #ff5826; display: inline; cursor: pointer; margin:30px 10px;}
    #postbox > #leftbox > .longbox > h4:hover { color: #c02d00; transition: 0.3s;}
   


    /*사이드*/
    #section1 > #side {width:470px; height: 100%;  display: block;  display: flex; flex-direction: column; justify-content: center; align-items: center; padding:0 0 0 50px;}

    /*서치바*/
    #section1 > #side > #search {width:100%; height: 60px; margin:60px auto; }
    #side > #search > input {width:390px; height: 60px; padding:0 30px; border-radius: 30px; border:4px solid #ff5826; position: absolute; }
    #side > #search > button {width:40px; height: 40px; font-size: 20px; font-weight: bold; border-radius: 20px; position: relative; z-index: 2; left: 160px;  background:linear-gradient(#ff5826, #ffc013); border:none; color: #fff; cursor: pointer;}
    #side > #search > button:hover {background:linear-gradient(#ffc013, #ff5826); }

    /*뉴스룸*/
    #section1 > #side > #newsroom {width:100%; height: auto;  }
    #side > #newsroom > h1 {font-size: 18px; color: #000; margin:5px; font-family: 'Convergence', sans-serif; font-weight: bold; margin:15px; cursor: pointer; }
    #side > #newsroom > h1:hover {color: #c02d00; transition: 0.3s;}
    #side > #newsroom > .box {width:99%; height: auto; background-color: #fff; margin:7px 0; display: flex; flex-direction: row; border-radius: 20px;} 
    #side > #newsroom > .box > img {width:25%; height: auto; border-radius: 20px; margin:6px 8px 6px 15px; cursor: pointer; transition: 0.4s;}
    #side > #newsroom > .box > img:hover {opacity: 0.6; }
    #side > #newsroom > .box > .text > h2 {font-size: 14px; color: #000; margin:5px; font-family: 'Convergence', sans-serif; font-weight: bold; padding:6px 0; cursor: pointer;}
    #side > #newsroom > .box > .text > h2:hover {text-decoration: underline;}
    #side > #newsroom > .box > .text > p {font-size: 12px; color: #000; margin:5px; font-family: 'Convergence', sans-serif; line-height: 1.4; cursor: pointer; width:90%;}

   /*토픽*/      
    #section1 > #side > #topic {width:95%; height: auto; margin:40px auto; display: flex; flex-wrap: wrap; align-items: center; justify-content: center; }
    #topic > h1 {font-size: 18px; color: #000; font-family: 'Convergence', sans-serif; font-weight: bold; margin:15px; cursor: pointer; width:100%; text-align: left;}
    #topic > p {background-image:linear-gradient(#ffbf47, #ff5900); color: #fff; margin:5px 4px; display: inline; padding:8px 13px; border-radius: 15px; font-size: 14px;  font-family: 'Convergence', sans-serif; font-weight: bold; cursor: pointer;}
    #topic > p:hover {background-image: none; background-color:#ffb835 ; color: #3a3a3a;}

    /*컨택*/   
    #section1 > #side > #contact {width:95%; height: auto; margin:40px auto; display: flex; flex-direction: column; justify-content: center;}
    #contact > h1 {font-size: 18px; color: #000; font-family: 'Convergence', sans-serif; font-weight: bold; margin:15px; cursor: pointer; text-align: left;}
    #contact > input {width:100%; padding:10px 15px; margin:5px; border-radius: 10px; border: 1px solid #838383; font-family: 'Convergence', sans-serif;}
    #contact > #selectbox {font-size: 14px; color: #000; font-family: 'Convergence', sans-serif; margin: 10px; }
    #contact > #selectbox > select {width:80%; padding:10px 5px; border-radius: 10px; border: 1px solid #838383; font-family: 'Convergence', sans-serif; display: block; margin:8px 0;}
    #contact > button {width:100%; padding:10px 0; border-radius: 10px; border: none; background-color: #c73302; font-family: 'Convergence', sans-serif; letter-spacing: 1.2px; font-size: 16px; color: #fff; cursor: pointer; transition: 0.3s;}
    #contact > button:hover {background-color: #ff5900; transition: 0.3s;}

     /*sns*/ 
     #section1 > #side > #follow {width:95%; height: auto; margin:20px auto; text-align: center; }
     #follow > h1 {font-size: 18px; color: #000; font-family: 'Convergence', sans-serif; font-weight: bold; margin:15px; cursor: pointer; width:100%; text-align: start;}
     
     #follow > a > .fa-brands {font-size: 20px; color: #fff; background-color: #ff7125; padding:10px; border-radius: 50%; margin:5px 10px;}
     #follow > a > .fa-brands:hover {opacity: 0.8;}

                           /*하단*/ 
                         footer {width:100%; height:auto; margin:0 auto; background-color:#252525; display: flex;}
                         #footerbox {width:1200px; height:334px; margin:0 auto; }
                
                         #footerbox > #container {width:30%; height: 100%;  display: block;}
                         #footerlogo {width:150px; height: 87px;  }
                         #footerlogo > a >img {width:100%; height: 100%; }
                
                         
                         #snsicon >a >.fa-brands {font-size: 25px; text-decoration: none; color: #fff; padding:1%}
                         #snsicon >a >.fa-brands:hover{color: #f39d2d;}
                         
                         #appstore >a >img {margin:50px 0 0 0;}   

                         #footerbox > nav { width:70%; display: flex; justify-content: flex-end; }
                         #footerbox > nav > ul {padding:43px; margin:0 10px 0 0px; }
                         #footerbox > nav > ul > h2 {color: #fff; font-size: 23px; font-weight: bold; letter-spacing: 2px; margin:0 0 13px 0px; font-family: 'Convergence', sans-serif;}
                         #footerbox > nav > ul > li > a {text-decoration: none; color: #fff; font-size: 12px;  line-height: 2.2; font-family: 'Convergence', sans-serif;}
                         #footerbox > nav > ul > li > a:hover{border-bottom: 2px solid #fff;}
                    
                    
                        }
                