@charset "UTF-8";
        @media (min-width:651px){
          * {margin:0; padding:0; box-sizing: border-box;}
          ul, li, ol {padding:0; margin: 0; list-style: none;}
          body {background-color: #f3f4f4;}
    
          #top {width:100%; height:23px; display:flex; align-items: center; justify-content: center;} 
          #top > p {font-size: 12px; letter-spacing: 1px; color: #d71d30; font-weight:600; padding: 10px 0 0 0px; cursor: pointer; }
          #top > p:hover {text-decoration: underline;}
        
           /*헤더*/
           header > .small {width:100%; height:60px; display:flex; justify-content: space-between; align-items: center; background-color:#fff; border-radius: 20px;}
           #logo {z-index: 15;}
           #logo > a > img {width: 70px; margin:0 0 0 20px; }
           header > .small > #logo > .a {display: none;}
           header > .b {display: none; position: relative; bottom: 17px;}
           .b > ul {width:100%; height:auto; display:flex; flex-direction:column;  }
           
           header > .b > ul > li {background-color: #fff; }
           header > .b > ul > .first {padding:20px 0 0 0;}
           header > .b > ul > .last {border-bottom-left-radius:20px; border-bottom-right-radius:20px;  font-family: 'Convergence', sans-serif; }
           header > .b > ul > li > a {display: block; text-decoration: none; color:#000; font-size: 17px; font-family: 'Convergence', sans-serif;  padding:25px 30px; margin:10px 0;}
           header > .b > ul > li > a:hover { color:#d40000; background-color: #ff707042; transition: 0.4s;}
           #iconbox { width:70px; height: 100%; display: flex; align-items: center; justify-content: flex-end; margin:5px 15px 0 0px; z-index: 15;}

           #iconbox #language{display: none;}
        
           #icon {display: flex; justify-content: flex-end;}
           #icon > .personicon {display: none; }
           #icon > .bagicon {background-color: #d71d30; width:32px; height: 32px; border-radius: 17px; margin: 0 11px 3px 0px; cursor: pointer;}
           #icon > .bagicon:hover{background-color: #86242e; transition: 0.2s;}
           #icon > .bagicon {font-size: 18px; color: #ffffff; text-align: center; padding: 7px 0 0 0px; cursor: pointer;}
           #icon > .listicon{font-size: 25px; width:25px; color: #d71d30; margin:3px 0px; cursor: pointer;}
           #icon > .listicon:hover{color: #86242e; transition: 0.2s;}
          
           #icon > button {display: none;}
        
             /*헤드 슬라이더*/
             #slider {width: 99%; height: auto;  margin:10px auto;  border-radius: 50px; padding: 15px; background-image:url("../img/img_sub_back.svg"); background-color: #e25923;}

             #slider > h2 {text-align: center; font-size: 30px; color: #ffffff; line-height: 1.3; letter-spacing: 3px; padding: 35px 0 0 0px; font-family: 'Bevan', cursive; text-shadow: 7px 5px 6px #5e0606;}
        
             #slider > p {margin: 23px auto; text-align: center; font-size: 15px; color: #fff; font-weight: bold; line-height: 23px; left: 0; width:90%;}
        
            /*섹션1*/
    #section1 {width:100%; height: auto; margin:0 auto; display: flex; justify-content: center; flex-direction: column;}

    #section1 > #main {width:100%; height: 100%; background-color:#ececec9d; display: flex; flex-direction: column; justify-content: center; align-items: center;}

    /*story*/
    #section1 > #main > #story {width:98%; height: auto; margin:10px; padding:20px; display: flex; flex-direction: column; align-items: center;}
    #section1 > #main > #story > h1 {font-size: 36px; font-family: 'Tilt Warp', cursive; background-image: linear-gradient(#ffb834, #ff501b); color: transparent; background-clip: text; -webkit-background-clip: text; margin:20px 0; }
    #section1 > #main > #story > h2 {font-size: 20px; font-family: 'Convergence', sans-serif; color: #000; margin:0 0 15px 0;}
    #section1 > #main > #story > #photobox {width:95%; height: auto; overflow: hidden; border-radius: 25px; margin:8px 0 20px 0;}
    #section1 > #main > #story > #photobox > img {width:100%; height: 100%;   transform: scale(1); transition: 0.5s; cursor: pointer;}
    #section1 > #main > #story > #photobox > img:hover{transform: scale(1.05); transition: 0.5s;}
    #section1 > #main > #story > button {padding:15px 30px; border-radius: 40px; background-color: #fff; border:3px solid #ff501b; color:#ff501b; font-size: 15px; letter-spacing: 1px; font-family: 'Convergence', sans-serif; cursor: pointer;}
    #section1 > #main > #story > button:hover {background-color: #ff501b; border:3px solid #ff501b; color:#fff; transition: 0.3s; }

    /*people*/
    #peoplewrap {display: flex; flex-wrap: wrap;}
    #peoplewrap > h1 {font-size: 36px; font-family: 'Tilt Warp', cursive; background-image: linear-gradient(#ffb834, #ff501b); color: transparent; background-clip: text; -webkit-background-clip: text; width:100%; margin:70px 0 50px 0; text-align: center;}

    .people {width:48%; height: auto;  margin: 0 auto;}
    
    .people > h2 {font-size: 20px; font-family: 'Convergence', sans-serif; color:#000; letter-spacing: 0.5px; font-weight: bold; text-align: center; width:80%; margin:0 auto;}
    .people > p {font-size: 15px; font-family: 'Convergence', sans-serif; color: #3a3a3a;  line-height: 1.2; text-align: center; margin:10px auto; width:80%;}
    
    .people > #people_box {width:100%; height:auto; display: flex; flex-direction: column; align-items: center; margin:20px 0 0 0;}
    .people > #people_box > img  {width:90%; height: auto;  border-radius: 50px; position: relative;  z-index: 5; margin: 0 auto;}
    .people > #people_box > .people2 {width:90%; height: auto;  border-radius: 60px; position: relative;  z-index: 5;}
    
    .people > #people_box > #textbox {background-color: #fff; border-radius: 30px; padding:25px 55px; width:90%; height: auto;  margin:-20px 0 0 0; }
    .people > #people_box > #textbox > h1 {font-size: 18px; font-family: 'Convergence', sans-serif; color: #c02d00; font-weight: bold; margin:10px 0 18px 0;}
    .people > #people_box > #textbox > h2 {font-size: 16px; font-family: 'Convergence', sans-serif; margin:0 0 20px 0; }
    .people > #people_box > #textbox > p {font-size: 15px; font-family: 'Convergence', sans-serif; color: #3a3a3a; margin:0 0 20px 0; line-height: 1.5;}
    .people > #people_box > #textbox > h3 {font-size: 16px; font-family: 'Convergence', sans-serif;  font-weight: bold; color: #ff5826; display: inline; margin:20px 0; cursor: pointer;}
    .people > #people_box > #textbox > h3:hover { color: #c02d00; transition: 0.3s;}
   
    .people > #like {width:100%; padding:10px; cursor: pointer; margin:0 0 40px 0; text-align: center;}
    .people > #like > .comment {font-size: 15px; font-weight: bold; color:#838383;}
    .people > #like > .comment:hover {color:#ff5826; transition: 0.2s;}
    .people > #like > .heart {font-size: 15px; margin:0 8px; color:#838383;}
    .people > #like > .heart:hover {color:#d71d30; transition: 0.2s;}


     
    
    /*video*/
    #section1 > #main > #video {width:100%; height:auto; margin:10px auto; padding: 20px; display: flex; flex-direction: column; align-items: center; margin:20px 0;}
    #video > h1 {font-size: 36px; font-family: 'Tilt Warp', cursive; background-image: linear-gradient(#ffb834, #ff501b); color: transparent; background-clip: text; -webkit-background-clip: text; }
    #video > .youtube {margin:30px 0; width:90%; height: 600px;}
    #video > button {padding:15px 30px; border-radius: 40px; background-color: #fff; border:3px solid #ff501b; color:#ff501b; font-size: 13px; letter-spacing: 1px; font-family: 'Convergence', sans-serif; cursor: pointer;}
    #video > button:hover {background-color: #ff501b; border:3px solid #ff501b; color:#fff; transition: 0.3s;}

     /*post*/
     #section1 > #main > #post {width:100%; height: auto;  }
     #post > h1 {font-size: 36px; font-family: 'Tilt Warp', cursive; background-image: linear-gradient(#ffb834, #ff501b); color: transparent; background-clip: text; -webkit-background-clip: text; text-align: center; margin: 50px 0 0 0;}
     #post > h2 {font-size: 15px; font-family: 'Convergence', sans-serif; color: #3a3a3a; margin:20px 0; line-height: 1.5; font-weight: bold; text-align: center;}
 
     #post > #postbox {width:100%; height: auto; margin:0 auto; }
 
     #post > #postbox > #rightbox {display: flex;}
     #post > #postbox > #rightbox > .box {width:48%; height: auto;  margin:20px auto; }
     #post > #postbox > #rightbox > .box > .photobox {width:100%; height: auto;  overflow: hidden; border-top-left-radius: 40px;  border-bottom-right-radius: 40px; cursor: default;;}
     #post > #postbox > #rightbox > .box > .photobox > img {width:100%; height: 100%; transform: scale(1); transition: 0.4s;}
     #post > #postbox > #rightbox > .box > .photobox > img:hover {transform: scale(1.1); transition: 0.4s;}
     #postbox > #rightbox > .box > h3 {font-size: 18px; color: #000; font-family: 'Convergence', sans-serif; font-weight: bold; margin:10px;}
     #postbox > #rightbox > .box > p {font-size: 14px; color: #000; font-family: 'Convergence', sans-serif; line-height: 1.5; margin:10px; width:85%;}
     #postbox > #rightbox > .box > h4 {font-size: 16px; font-family: 'Convergence', sans-serif;  font-weight: bold; color: #ff5826; display: inline; cursor: pointer; margin:30px 10px;}
     #postbox > #rightbox > .box > h4:hover { color: #c02d00; transition: 0.3s;}
 
     #post > #postbox > #leftbox {display: flex;}
     #post > #postbox > #leftbox > .longbox {width:48%; height: auto;   margin:20px auto; }
     #post > #postbox > #leftbox > .longbox > .photobox {width:100%; height: auto; overflow: hidden; border-top-left-radius: 40px;  border-bottom-right-radius: 40px; cursor: default;}
     #post > #postbox > #leftbox > .longbox > .photobox > img {width:100%; height: 100%; transform: scale(1); transition: 0.4s;}
     #post > #postbox > #leftbox > .longbox > .photobox > img:hover {transform: scale(1.1); transition: 0.4s;}
     #postbox > #leftbox > .longbox > h3 {font-size: 18px; color: #000; font-family: 'Convergence', sans-serif; font-weight: bold; margin:10px;}
     #postbox > #leftbox > .longbox > p {font-size: 14px; color: #000; font-family: 'Convergence', sans-serif; line-height: 1.5; margin:10px; width:85%;}
     #postbox > #leftbox > .longbox > h4 {font-size: 16px; font-family: 'Convergence', sans-serif;  font-weight: bold; color: #ff5826; display: inline; cursor: pointer; margin:30px 10px;}
     #postbox > #leftbox > .longbox > h4:hover { color: #c02d00; transition: 0.3s;}


    /*사이드*/
    #section1 > #side {width:100%; height: 100%;  display: block;  display: flex; flex-direction: column; justify-content: center; align-items: center; padding:0 30px;}

    /*서치바*/
    #section1 > #side > #search {width:100%; height: auto; margin:30px auto; display: flex; align-items: center; justify-content: center; }
    #side > #search > input {width:90%; height: 60px; padding:0 30px; border-radius: 30px; border:4px solid #ff5826;  }
    #side > #search > button {width:40px; height: 40px; font-size: 20px; font-weight: bold; border-radius: 20px; background:linear-gradient(#ff5826, #ffc013); border:none; color: #fff; cursor: pointer; margin:0 10px;}
    #side > #search > button:hover {background:linear-gradient(#ffc013, #ff5826); }

    /*뉴스룸*/
    #section1 > #side > #newsroom {width:100%; height: auto; margin:40px auto; display: flex; flex-direction: row; flex-wrap: wrap;}

    #side > #newsroom > h1 {font-size: 18px; color: #000; font-family: 'Convergence', sans-serif; font-weight: bold; margin:15px; cursor: pointer; width: 100%;}
    #side > #newsroom > h1:hover {color: #c02d00; transition: 0.3s;}

    #side > #newsroom > .box {width:24%; height: auto; background-color: #fff; margin:10px auto; display: flex; flex-direction: column; align-items: center; border-radius: 20px; padding:10px 5px;} 
    #side > #newsroom > .box > img {width: 90%; height: auto; border-radius: 20px; cursor: pointer; transition: 0.4s;}
    #side > #newsroom > .box > img:hover {opacity: 0.6; }
    #side > #newsroom > .box > .text > h2 {font-size: 14px; color: #000; margin:5px; font-family: 'Convergence', sans-serif; font-weight: bold; padding:6px 0; cursor: pointer;}
    #side > #newsroom > .box > .text > h2:hover {text-decoration: underline;}
    #side > #newsroom > .box > .text > p {font-size: 12px; color: #000; margin:5px; font-family: 'Convergence', sans-serif; line-height: 1.4; cursor: pointer; width:90%;}

   /*토픽*/      
    #section1 > #side > #topic {width:95%; height: auto; margin:40px auto; display: flex; flex-wrap: wrap; align-items: center; justify-content: center; }
    #topic > h1 {font-size: 18px; color: #000; font-family: 'Convergence', sans-serif; font-weight: bold; cursor: pointer; width:100%; text-align: center; margin:0 0 30px 0;}
    #topic > p {background-image:linear-gradient(#ffbf47, #ff5900); color: #fff; margin:5px 4px; display: inline; padding:8px 13px; border-radius: 15px; font-size: 14px;  font-family: 'Convergence', sans-serif; font-weight: bold; cursor: pointer;}
    #topic > p:hover {background-image: none; background-color:#ffb835 ; color: #3a3a3a;}

    /*컨택*/   
    #section1 > #side > #contact {width:95%; height: auto; margin:40px auto; display: flex; flex-direction: column; justify-content: center;}
    #contact > h1 {font-size: 18px; color: #000; font-family: 'Convergence', sans-serif; font-weight: bold; margin:15px; cursor: pointer; text-align: center;}
    #contact > input {width:100%; padding:10px 15px; margin:5px; border-radius: 10px; border: 1px solid #838383; font-family: 'Convergence', sans-serif;}
    #contact > #selectbox {font-size: 14px; color: #000; font-family: 'Convergence', sans-serif; margin: 10px; }
    #contact > #selectbox > select {width:80%; padding:10px 5px; border-radius: 10px; border: 1px solid #838383; font-family: 'Convergence', sans-serif; display: block; margin:8px 0;}
    #contact > button {width:100%; padding:10px 0; border-radius: 10px; border: none; background-color: #c73302; font-family: 'Convergence', sans-serif; letter-spacing: 1.2px; font-size: 16px; color: #fff; cursor: pointer; transition: 0.3s;}
    #contact > button:hover {background-color: #ff5900; transition: 0.3s;}

     /*sns*/ 
     #section1 > #side > #follow {width:95%; height: auto; margin:20px auto; text-align: center; }
     #follow > h1 {font-size: 18px; color: #000; font-family: 'Convergence', sans-serif; font-weight: bold; width:100%; margin: 20px 0; }
     
     #follow > a > .fa-brands {font-size: 20px; color: #fff; background-color: #ff7125; padding:10px; border-radius: 50%; margin:5px 10px 70px 10px;}
     #follow > a > .fa-brands:hover {opacity: 0.8;}
                 
                  /*하단*/
                 footer {width:100%; height:auto; margin:0 auto; background-color:#252525; display: flex;}
                 #footerbox {width:100%; height:100%; margin:0 auto; display: flex;}
        
                 #footerbox > #container {width:30%; height: 100%; text-align: center; padding:10px; background-color:#252525;}
                 #footerlogo {width:150px; height: 87px; margin: 30px auto; }
                 #footerlogo > a >img {width:100%; height: 100%; }

                 #snsicon >a >.fa-brands {font-size: 20px; text-decoration: none; color: #fff; margin:2%;}
                 #snsicon >a >.fa-brands:hover{color: #f39d2d;}

                 #appstore > a > img {height: 30px; margin:20px 0px; }
                 #appstore > a > img:hover{opacity: 0.7;}

                 #footerbox > nav {width:70%; display: flex; justify-content: flex-end;}
                 #footerbox > nav > ul {padding:30px; width:30%; }
                 #footerbox > nav > ul > h2 {color: #fff; font-size: 20px; font-weight: bold; letter-spacing: 2px; margin:0 0 13px 0px; font-family: 'Convergence', sans-serif;}
                 #footerbox > nav > ul > li > a {text-decoration: none; color: #fff; font-size: 12px;  line-height: 2.2; font-family: 'Convergence', sans-serif;}
                 #footerbox > nav > ul > li > a:hover{border-bottom: 2px solid #fff;}
                }
